# Database Configuration
DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

APP_NAME=
APP_NAME_SHORT=
APP_ENV=development
APP_DEBUG=true
APP_URL=
IS_WHITELABEL=

API_KEY=

ENCRYPT_KEY=
ENCRYPT_IV=

FCM_SERVER_KEY=

MAPS_API_KEY=

# Store Links
ANDROID_URL=
IOS_URL=

# Support / External Services
SUPPORT_URL=

# WhatsApp API
WHATSAPP_COMPANY_API_KEY=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_API_URL=

TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=